# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Ignore build directory
/build/

# But DO NOT ignore the release APK inside the build directory
!/build/app/outputs/flutter-apk/app-release.apk

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Other
.DS_Store
