# Dart & Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
!/build/app/outputs/flutter-apk/app-release.apk

# Logs
*.log
firebase-debug.log

# IDE-specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Other
.DS_Store
